@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins' , sans-serif;
}
/*Navigation*/
nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}
nav img{
    width: 150px;
    cursor: pointer;
}
.navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navigation ul li{
    list-style: none;
    margin-left: 30px;
}
.navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
.navigation ul li a:hover{
    color: #fdc98b;
}
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    padding-top: 10%;

}
#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}
#home .btn{
    margin: 30px;
}
#home a{
    text-decoration: none;
    font: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;

}
#home a.blue{
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}
#home a.blue:hover{
    color: rgb(21, 21, 100);
    background: white;
}
#home a.yellow{
    color: #fff;
    background: #fdc93b;
}
#home a.yellow:hover{
    color: rgb(21, 21, 100);
    background: white;
    transition: 0.3s ease;
}
/*feature*/ 
#feature{
    padding: 5vw 8vw 0 8vw;
    text-align : center; 
}
#feature .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap :1rem;
    margin-top: 1.5rem;
    padding: 8vw 8vw 0 8vw;

}
#feature .fea-box{
    background: #f9f9ff;
    text-align: start;
}
#feature .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}
#feature .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
}
#feature .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

/*course*/
#course{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap :1rem;
    margin-top: 50px;
}
#course .courses{
    text-align: start;
    background-color: #f9f9ff;
    height: 100%;
    position: relative;
}
#course .courses img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}
#course .courses .details{
    padding: 15px 15px 0 15px;
}
#course .courses .details i{
    color: #fdc93b;
    font-size: .9rem;
}
#course .courses .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 62px;
}

/*Registration*/


#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image:linear-gradient(rgb(99,112,168,0.5), rgb(81,91,233,0.5)),url("images/signup.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration  .reminder{
    color: #fff;
}#registration  .reminder h1{
    color: #fff;
}
#registration  .reminder .time{
    display: flex;
    
    margin-top: 40px;

}
#registration  .reminder .date{
    text-align: center;
    padding: 13px 33px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgb(255,255,255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}
#registration .form{
    background: #fff;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow:  0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border :1px solid rgb(84, 40, 241);
    outline: none;
}
#registration .btn{
    text-align: center;
    margin-top: 20px;
    
    
}
#registration .blue{
    text-decoration: none;
    background-color: #fdc93b;
    padding: 20px;
    color: black;
    
}
#registration .blue:hover{
    color: #fff;
    background-color: rgb(21, 21, 100);
}

/*experts*/

#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#experts .experts-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap :1rem;
    margin-top: 50px;
}
#experts .experts-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
}
#experts .experts-box .profile .pro-link{
    margin-top: 10px;
}
.pro-link i{
    padding: 10px 13px;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
    transition: 0.3s ease;
}
.pro-link i:hover{
    background: rgb(21, 21, 100);
    color: #fff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}
/*footer*/
footer{
    padding: 8vw ;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: rgb(241,240,245);
}
footer p{
    color: #7b838a;
}
footer .subscribe{
    margin-top: 20px;

}
footer input{
    width: 220px;
    padding: 15px 10px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
}
footer .subscribe button{
    text-decoration: none;
    background-color:  #fdc93b;
    font-size: 0.9rem;
    padding: 13px 15px ;
    font-weight: 600;
    margin-left: 0;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
footer .subscribe button:hover{
    background: #fff;
    color: #101c32;
}
footer .copyright{
    margin-top: 20px;
    display: flex;
}
@media (max-width: 1600px) {
    #course .courses .cost{
        bottom: 115px;
    }
}
@media (max-width: 800px) {
    #course .courses .cost{
        bottom: 115px;
    }
}
@media (min-width: 650px) {
    #course .courses .cost{
        bottom: 115px;
    }
}